body {
    background-color:rgb(239 239 239);
}

h6 {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
.heading{
    background-color: rgb(151, 148, 148);
    border-top-left-radius:13px;
    border-top-right-radius: 13px;
}

.container {
    background-color: white;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 13px;
}

.formclass {
    padding: 20px;
}

.container input {
    margin: 15px auto;
    height: 30px;
    width: 60%;
    display: block;
    border-radius: 4px;
    border: 1px solid #a6b2ef;
}

input:hover {
    border: 2px solid rgba(8, 8, 129, 0.801);
}

.btn {
    height: 30px;
    width: 60%;
    color: white;
    background-color: rgb(56 79 189 / 78%);
    border-radius: 20px;
    border: none;
}

.btn:hover {
    background-color: #333333;
}
.msg{
    margin-left:108px;
}
.msg h6{
    color:red ;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}