<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" />
</head>

<body>
    <div class="containerfull">

        <div class="heading">
            <h2>Sign In</h2>
        </div>

        <form action="login" method="post" class="formclass">
            {% csrf_token %}
            <div class="container">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <div class="check">
                    <input type="checkbox" name="remember"> Remember me
                </div>
                <button type="submit">Login</button>
                <a href="#">Forgot password?</a>
            </div>
            <div class="msg">
                {% for msg in messages %}
                <h6>{{msg}}</h6>
                {% endfor %}
            </div>
        </form>
    </div>
</body>

</html>