<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration_style.css' %}" />
</head>

<body>
    
    <div class="container">
        <div class="heading">
            <h6>Registration</h6>
        </div>
        <form action="register" method="post" class="formclass">

            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmpassword" placeholder="Re-enter Password">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="mobileno" placeholder="Mobile No.">
            <input type="text" name="creditcard" placeholder="Credit Card Details">
            <input type="text" name="address" placeholder="Adress">
            <input type="submit" value="Sign Up" class="btn">
            <div class="msg">
                {% for msg in messages %}
                <h6>{{msg}}</h6>
                {% endfor %}
            </div>
        </form>
    </div>
</body>

</html>