{% extends 'basicAccounts.html' %}

{% block title %} Log In | Wonder Cart {% endblock %}

{% block body %}

{% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show my-1" role="alert" style="color: #fff;background-color: #f94949;border-color: #f00;text-align: center;">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <div class="container my-3" style="width:400px;border:2px solid #f4ebeb;padding:30px;">
        
        <h3 style="text-align: center;">Reset  Your Password</h3><br>

        <form action="resetPassword" method="post">
        
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control"  name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" minlength="6" required>
            </div>
            <div class="mb-3">
                <label for="cpassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" name="confirmpassword" minlength="6" required>
            </div>
            <input type="submit"  value="Reset Password" class="btn btn-primary" style="width: 100%;">
            
        </form>
        
    </div>

{% endblock %}
