{% extends 'basicHome.html' %}


{% block extra %} {% endblock %}

{% block title %} Wonder Cart {% endblock %}

{% block css %} 
<style>

    .center-details{
        text-align: center;
    }

</style>
{% endblock %}

{% block search %}

<form  action="/viewProducts/search" class="d-flex mx-5">
    <input class="form-control me-2" type="text" name="keyword" value="{{keyword}}" placeholder="Search" aria-label="Search" required style="width:600px;">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% endblock %}


{% block body %}

{% if matchedCategories|length > 0 %}

    {% for category in matchedCategories %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-4 my-3">
            {% for product in category %}
            <a href="/viewProducts/viewDetails?id={{product.id}}" style="text-decoration: none;color:black">
                <div class="col">
                    <div class="card h-100">
                        <img src="/media/{{product.image}}" class="card-img-top" />
                        <div class="card-body">
                        
                            <h6 class="card-title center-details">{{product.name}}</h6>
                            <h6 class="card-title center-details">{{product.color}} 
                                {% if product.category.name in forRam %}
                                    ( {{product.ram}} | {{product.storage}} )
                                {% endif %}
                            </h6>
                            <button class="card-text btn btn-dark" style="width: 100%;">₹ {{product.price}}</button>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    {% endfor %}

{% else %}

<h6 style="margin:100px 200px;">No Matches were found...</h6>

{% endif %}

{% endblock %}