{% extends 'basicHome.html' %}

{% load filters %}

{% block title %}Your Cart{% endblock %}

{% block body %}

{% if products|length > 0 %}

{% for message in messages %}

<div class="alert alert-danger alert-dismissible fade show my-1 text-center text-white" role="alert" style="background-color: #f94949">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<div class="container">
    <div class="row">
    <div class="col-md-6 mt-3">
        <hr class="text-primary">
        <h4 class="mb-4">Your Cart</h4>
        <hr class="text-primary">
        {% for product,quantity in products %}
        <div class="card mb-3" id="{{product.id}}">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{product.image}}" class="card-img-top"/>
                </div>
                <div class="col-md-8">
                <div class="card-body my-3 mx-5">
                    <h5 class="card-title">{{product.name}}</h5>
                    <sup>&#x20B9;</sup>
                    <h5 class="d-inline-block">     
                        {{product|actualPrice}} 
                    </h5>
                        
                    {% if product.discount %} 
                        <s>{{product.price}}</s> 
                    {% endif %}

                    <br>
                    <table cellpadding="7">
                    <tr>
                        <th class="text-primary">Color</th>
                        <td>{{product.color}}</td>
                    </tr>
                    {% if product.category|hasRam %}
                    <tr>
                        <th class="text-primary">Storage</th>
                        <td>{{product.ram}}-{{product.storage}}</td>
                    </tr>
                    {% endif %}
                    </table>
                
                    <div class="btn-group btn-block mt-2" role="group" aria-label="Basic outlined example">
                        <a class="btn btn-outline-dark btn-sm" href="/changeQty/{{product.id}}/minus">-</a>
                        <button type="button" class="btn btn-outline-dark btn-sm">{{quantity}}</button>
                        <a class="btn btn-outline-dark btn-sm" href="/changeQty/{{product.id}}/plus">+</a>
                    </div>
                    <a class="btn btn-danger btn-sm mt-2 mx-3" href="/removeFromCart/{{product.id}}">Remove</a>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-1 mt-3"></div>
    <div class="col-md-5 mt-3">
            <hr class="text-primary">
            <h4 class="mb-4">Price Details</h4>
            <hr class="text-primary">
            <table class="w-100">
                <tr>
                    <th class="float-start my-2">Total Amount</th>
                    <td class="float-end">&#x20B9;{{products|amountToPay}}</td>
                </tr>
                <tr>
                    <th class="float-start my-2">Delivery Charge</th>
                    <td class="float-end text-success">Free</td>
                </tr>
                <tr>
                    <th class="float-start my-2">Amount To Pay</th>
                    <td class="float-end">&#x20B9;{{products|amountToPay}}</td>
                </tr>
            </table>
            <hr class="text-primary">
            
            {% if products|totalSavings %}
                <p class="text-success my-2">
                    You will save &#x20B9;{{products|totalSavings}}
                </p>
            {% endif %}
            
            <a class="btn btn-primary my-3" href="/checkout">Checkout</a>
        
        </div>
    </div>
</div>

{% else %}

<div class="d-flex justify-content-center my-5">
    <img src="/media/images/empty_cart.png">
</div>
<br>
<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-success btn-lg" href="/">Shop Now</a>
</div>

{% endif %}

{% endblock %}