{% extends 'basicHome.html' %}

{% load filters %}

{% block title %} Wonder Cart {% endblock %}

{% block css %}

<style>
    .specialProduct {
        margin: 20px 25px;
        padding: 0px 50px;
        border-radius: 6px;
    }

    .specialProduct img {
        height: 450px;
    }

    .specialProductDesc {
        padding: 100px;
    }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:55px;
        height:55px;
    }

    .category {
        width: 1115px;
        background-color: #f2efef;
        padding: 15px;
        margin: 20px auto;
        border-radius: 6px;
    }

    a {
        text-decoration: none;
    }

    .search {
        width: 600px;
    }
    
</style>

{% endblock %}


{% block search %}

<form action="/viewProducts/search" class="d-flex search mx-2">
    <input class="form-control me-2" type="text" name="keyword" placeholder="Search" aria-label="Search" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% endblock %}


{% block body %}
<div id="specialProducts" class="carousel slide specialProduct border border-warning" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#specialProducts" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>

        {% for product in specialProducts %}
        <button type="button" data-bs-target="#specialProducts" data-bs-slide-to="{{forloop.counter}}" aria-label="Slide {{forloop.counter}}"></button>
        {% endfor %}

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col">
                    <img src="/media/{{activeProduct.image}}" class="d-block w-100">
                </div>
                <div class="col specialProductDesc">
                    <h3>{{activeProduct.name}}</h3>
                    <sup>&#x20B9;</sup>
                    <h3 class="d-inline-block">{{activeProduct|actualPrice}}</h3>
                    {% if activeProduct.discount %} <s>{{activeProduct.price}}</s> {% endif %}
                    <h5>{{activeProduct.specialOfferDesc|linebreaks}}</h5>
                    <a class="btn btn-dark" href="/checkout?id={{activeProduct.id}}">Buy Now</a>

                    <a class="btn btn-dark mx-2" href="/viewProducts/productDetails/{{activeProduct.id}}">View
                        Details</a>
                </div>
            </div>
        </div>

        {% for product in specialProducts %}
        <div class="carousel-item">
            <div class="row">
                <div class="col">
                    <img src="/media/{{product.image}}">
                </div>
                <div class="col specialProductDesc">
                    <h3>{{product.name}}</h3>
                    <sup>&#x20B9;</sup>
                    <h3 class="d-inline-block">{{product|actualPrice}}</h3>
                    {% if product.discount %} <s>{{product.price}}</s> {% endif %}
                    <h5>{{product.specialOfferDesc|linebreaks}}</h5>
                    <a class="btn btn-dark" href="/checkout?id={{product.id}}">Buy Now</a>
                    <a class="btn btn-dark mx-2" href="/viewProducts/productDetails/{{product.id}}">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#specialProducts" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#specialProducts" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row category">
    {% for category in user|allCategories %}
    <div class="col">
        <a href="/viewProducts/afilter/{{category.name}}" class="text-dark">
            <img src="/media/{{category.image}}" class="center-block icon">
            <h6 class="text-center">{{category.name}}</h6>
        </a>
    </div>
    {% endfor %}
</div>



{% for products in allProducts %}



<div class="container my-4">
    <hr class="text-primary">
    <h4>{{products.0.category.name}}</h4>
    <hr class="text-primary">
    <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
        {% for product in products %}
        <a href="/viewProducts/productDetails/{{product.id}}" class="text-dark">
            <div class="col" style="height: 320px">
                <div class="card h-100">
                    <img src="/media/{{product.image}}" class="card-img-top" />
                    <div class="card-body">
                        <h6>{{product.name}}</h6>
                        <sup>&#x20B9;</sup>
                        <h5 class="d-inline-block">{{product|actualPrice}}</h5>
                        {%if product.discount %} <s>{{product.price}}</s> {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>

{% endfor %}

{% endblock %}